*{
    margin: 0;
}
nav{
    margin-left: 250px;
    position: fixed;
    width: 1300px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 130px;
}
.img1{
    position: fixed;
    margin-top: 0px;
    margin-left: 70px;
}
nav li .log{
    background-color: black;
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 80px;
    padding-left: 180px;
    display: block;
}

ul{
    list-style: none;
}
nav li a{
    background-color: black;
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 30px 80px;
    display: block;
}
nav li a:hover{
    background-color: gray;
    text-decoration: none;
}
nav li{
    float: left;
}
nav li ul{
    display: none;
    position: absolute;
    min-width: 100px;
}
nav li ul li{
    float: none;
    position: relative;
    left: -40px;
}
nav li:hover > ul{
    display: block;
}

#contenido{
    width: 100%;
    height: 2700px;
    border-bottom: 3px solid black;
}
#contenido .img2{
    margin-left: 350px;
    position: inherit;
}
footer{
    width: 100%;
    height: 250px;
    background-color: black;
}
footer .div1{
    float: left;
    color: white;
    margin-left: 50px;
    margin-top: 30px;
}
footer .div2{
    float: left;
    color: white;
    margin-left: 600px;
    margin-top: 30px;
}
footer .div3{
    float: right;
    color: white;
    margin-right: 50px;
    margin-top: 30px;
}
footer .div4{
    position: absolute;
    margin-top: 190px;
    color: white;
    margin-left: 670px;
    text-align: center;
    width: 600px;
}
footer h3{
    font-size: 30px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
footer p{
    font-size: 18px;
    margin-bottom: 10px;
}
h2{
    font-size: 75px;
    color: darkgoldenrod;
    margin-left: 750px;
    font-family: broadway;
}
#cafe .img1{
    margin-left: 150px;
    position: inherit;
}
#cafe .img2{
    margin-left: 0px;
}
#cafe .img3{
    margin-left: 0px;
}
#cafe .img4{
    margin-left: 0px;
}
#cafe{
    width: 100%;
    height: 900px;
}
#cafe li{
    margin-left: 80px;
    margin-top: 50px;
    color: red;
   float: left;
    font-size: 40px;
    font-family: cooper black;
}
#europea{
    width: 100%;
    height: 900px;
}
#europea p{
    margin-left: 60px;
    width: 900px;
    font-size: 45px;
    text-align: justify;
    float: left;
}
#europea img{
    margin-left: 60px;
}
#internacional h2{
    font-size: 75px;
    color: darkgoldenrod;
    margin-left: 600px;
    font-family: broadway;
}
#internacional p{
    margin-left: 60px;
    width: 900px;
    font-size: 45px;
    text-align: justify;
    float: left;
}
#internacional img{
    margin-left: 60px;
}